@-webkit-keyframes colorChange {
  0% {
    fill: #D6D6D6;
  }

  50% {
    fill: #D6D6D6;
  }

  100% {
    fill: #595653;
  }
}

@keyframes colorChange {
  0% {
    fill: #D6D6D6;
  }

  50% {
    fill: #D6D6D6;
  }

  100% {
    fill: #595653;
  }
}

@-webkit-keyframes sizeChange {
  0% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}

@keyframes sizeChange {
  0% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}

.header {
  -webkit-animation: slideDown 0.6s ease, fadeIn 0.6s ease-in;
  animation: slideDown 0.6s ease, fadeIn 0.6s ease-in;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  30% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  30% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.lecture__top {
  -webkit-animation: slideRight 0.6s ease;
  animation: slideRight 0.6s ease;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}


.lecture__bottom {
  -webkit-animation: slideLeft 0.6s ease;
  animation: slideLeft 0.6s ease;
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.bg-chess__queen {
  -webkit-animation: moveQueen 2s linear infinite alternate;
  animation: moveQueen 2s linear infinite alternate;
}

@-webkit-keyframes moveQueen {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes moveQueen {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

.bg-chess__king {
  -webkit-animation: moveKing 2s linear infinite alternate;
  animation: moveKing 2s linear infinite alternate;
}

@-webkit-keyframes moveKing {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes moveKing {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.img__2,
.img__3 {
  -webkit-animation: swing 2s ease-in-out infinite;
  animation: swing 2s ease-in-out infinite;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  100% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  50% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  100% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}

.img__4 {
  -webkit-animation: hitting 2s ease-in-out infinite;
  animation: hitting 2s ease-in-out infinite;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes hitting {
  0% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  50% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  100% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
}

@keyframes hitting {
  0% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }

  50% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  100% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
}

.img__5 {
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
